@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{
        @apply  h-6 w-6 hover:scale-125 cursor-pointer transition-all duration-150 ease-out  hover:text-black
    }
    .pdfContainer{
        width: 80%;
        height: 800px;
        background-color: #e4e4e4;
        overflow-y: auto;
        display: flex;
        margin-left: 250px;
    }
}
